<div class="container">
  <mat-card class="highlight-card">
    <mat-card-content class="highlight-card-content">
      <mat-card>
        <mat-card-content class="header-logo">
          <img
            class="responsive-logo"
            src="../../../../assets/images/mockhat.png" />
          <mat-card-title>{{ 'reset-password.title' | translate }}</mat-card-title>
        </mat-card-content>
        <mat-card-content class="subtitle-content">
          <mat-card-subtitle class="subtitle-content-text">
            {{ 'reset-password.subtitle' | translate }}
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-content class="form-content">
          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.email' | translate }}</mat-label>
              <input
                matInput
                formControlName="email" />
              <mat-icon
                class="icon-gray"
                matSuffix
                >email</mat-icon
              >
              <mat-error
                class="error-message-in"
                role="alert">
                {{ 'reset-password.errorEmail' | translate }}
              </mat-error>
            </mat-form-field>

            <div class="button-container">
              <a
                mat-raised-button
                routerLink="/auth/login"
                >{{ 'reset-password.back_to_login' | translate }}
              </a>

              <button
                [disabled]="!form.valid || form.pristine"
                mat-raised-button
                color="primary"
                (click)="onSubmit()"
                [disabled]="isLoading">
                <mat-spinner
                  diameter="20"
                  *ngIf="isLoading"
                  class="button-spinner">
                </mat-spinner>
                {{ 'reset-password.button' | translate }}
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card-content class="help-content">
        <mat-card-subtitle>
          {{ 'reset-password.need_help' | translate }}
          <a routerLink="/auth/login">{{ 'reset-password.contact_support' | translate }} </a>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
