mat-dialog-container {
  background-color: var(--mockhat-white) !important;
  border-radius: 1rem;
  box-shadow: none !important;
  border: none !important;
}

mat-dialog-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mockhat-primary) !important;
}

mat-dialog-content {
  background-color: var(--mockhat-white) !important;
}

mat-dialog-actions {
  background-color: var(--mockhat-white) !important;
}
