.dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--mockhat-primary);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
