.container {
  padding: 16px;
}

ion-card-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-login {
  margin-top: 16px;
}

.card-header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.social_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-item {
  margin-bottom: 12px;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
}
