.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--mockhat-white) !important;
}

mat-dialog-content {
  background-color: var(--mockhat-white) !important;
}

mat-dialog-actions {
  background-color: var(--mockhat-white) !important;
}

mat-dialog-container {
  background-color: var(--mockhat-white) !important;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--mockhat-primary);
}

mat-card-subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
