.class-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.class-card {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: none;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.center-card {
  display: flex;
  height: calc(100% - 2rem);
  box-shadow: none;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  mat-card-title {
    color: var(--mockhat-primary);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  mat-card-subtitle {
    color: var(--mockhat-primary);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
  }
}

.class-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  mat-card-title {
    display: flex;
    align-items: flex-start;
    font-size: 32px;
    font-weight: 700;
    color: var(--mockhat-primary);
  }
  .class-header-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  mat-card-subtitle {
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--mockhat-primary);
  }
}

.full-width {
  width: 100%;
}

.assessment-image-container {
  width: 100%;
  height: 100%; // Ensure the image container fills its grid item
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.assessment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.assessment-grid {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;

  // Grid de 2 columnas en web
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch; // Ensures both items stretch to the same height
  }

  // Una columna en móvil (por defecto)
  grid-template-columns: 1fr;
}

.assessment-grid-item {
  width: 100%;

  mat-card-title {
    margin-bottom: 1rem;
    color: var(--mockhat-primary);
  }
}

mat-form-field {
  width: 100%;
}

.assessment-image-text {
  width: 100%;
  height: 100%; // Matches the image height
  min-height: auto; // Remove fixed height to allow dynamic resizing
  resize: none; // Prevents manual resizing
  gap: 1rem;
  background-color: var(--mockhat-white) !important;
}
