.class-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

mat-card {
  padding: 1rem;
  width: 100%;
}
mat-card-header {
  display: flex;
  margin-bottom: 1rem;
}
mat-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--mockhat-primary);
}

.center-card {
  display: flex;
  height: calc(100% - 2rem);
  box-shadow: none;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  mat-card-title {
    color: var(--mockhat-primary);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  mat-card-subtitle {
    color: var(--mockhat-primary);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
  }
}
