:root {
  mat-card {
    background-color: var(--mockhat-white) !important;
  }

  mat-card-subtitle {
    font-family: var(--mockhat-text-primary) !important;
  }

  mat-card-title {
    font-family: var(--mockhat-text-primary) !important;
  }
}
