@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mockhat-secondary),
      container-text-color: var(--mockhat-black),
      title-text-font: var(--mockhat-text-primary),
      title-text-size: 1rem,
    )
  );
}
