.class-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.class-card {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  box-shadow: none;
}

.class-header {
  display: flex;
  align-items: center;

  .class-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .class-name {
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      mat-card-title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--mockhat-primary);
      }
    }

    .class-description {
      font-size: 18px !important;
      gap: 0.5rem;
      font-weight: 400;
      color: var(--mockhat-primary);
    }
  }
}

.class-metrics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .class-metrics-score {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mat-card {
      width: 100%;
      min-width: 400px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        mat-card-title {
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--mockhat-primary);
        }
      }
    }
  }
}

.class-metrics-chart {
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.class-avatar {
  background-color: var(--mockhat-secondary); // o el color que prefieras
  color: var(--mockhat-primary);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 40px;
  font-family: 'Roboto';
  flex-shrink: 0;

  @media (max-width: 600px) {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}

.class-analysis {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
