<div class="container">
  <mat-card class="highlight-card">
    <mat-card-content class="highlight-card-content">
      <mat-card>
        <mat-card-content class="header-logo">
          <img
            class="responsive-logo"
            src="../../../../assets/images/mockhat.png" />
          <mat-card-title>{{ 'reset-password.title' | translate }}</mat-card-title>
        </mat-card-content>
        <mat-card-content class="subtitle-content">
          <mat-card-subtitle class="subtitle-content-text">
            {{ 'reset-password.choose_new_password' | translate }}
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-content class="form-content">
          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.password' | translate }}</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                required />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                {{ 'common.validation.required' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('pattern')">
                {{ 'common.validation.pattern' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.confirm_password' | translate }}</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="confirmPassword"
                required />
              <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
                {{ 'common.validation.required' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
                {{ 'auth.validation.password_mismatch' | translate }}
              </mat-error>
            </mat-form-field>

            <button
              [disabled]="!form.valid || form.pristine"
              mat-raised-button
              color="primary"
              (click)="onSubmit()">
              {{ 'reset-password.save_new_password' | translate }}
            </button>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card-content class="signup-content">
        <mat-card-subtitle>
          {{ 'reset-password.need_help' | translate }}
          <a routerLink="/auth/signup">{{ 'reset-password.contact_support' | translate }} </a>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
