@import '@angular/material/prebuilt-themes/azure-blue.css';
@import "theme/extra_colors";
@import "theme/_typography";
@import 'theme/layouts';
@import 'theme/cards';
@import 'theme/mixins';
@import 'theme/brand';
@import 'theme/buttons';
@import 'theme/forms';
@import 'theme/icons';
@import 'theme/nav';
@import 'theme/tables';
@import 'theme/text';
@import 'theme/links';
@import 'ngx-toastr/toastr';

