.progress-container {
  width: 200px;
  height: 30px;
  background-color: var(--mockhat-white);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.progress-fill {
  height: 100%;
  background-color: var(--mockhat-highlight);
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  height: 100%;
  color: var(--mockhat-primary);
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
  padding-left: 5px;
}
