.grid-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.class-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.class-card {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  box-shadow: none;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card-title {
    color: var(--mockhat-primary);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  mat-card-subtitle {
    color: var(--mockhat-primary);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
  }
}

.class-actions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.class-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .class-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .class-name {
      display: flex;
      align-items: center;

      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      mat-card-title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--mockhat-primary);
      }
    }

    .class-description {
      font-size: 18px !important;
      gap: 0.5rem;
      font-weight: 400;
      color: var(--mockhat-primary);
    }
  }
}

.class-avatar {
  background-color: var(--mockhat-secondary); // o el color que prefieras
  color: var(--mockhat-primary);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 40px;
  font-family: 'Roboto';
  flex-shrink: 0;

  @media (max-width: 600px) {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}

mat-tab-group {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

::ng-deep .mat-mdc-tab .mdc-tab__content {
  font-size: 1rem !important;
}
