.pricing-container {
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 86vh;

}


.pricing-card {
  display: flex;
  justify-content: center;
  align-items: center;

}

.pricing-card mat-card {
  width: 300px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Urbanist';
  margin-left: 1rem;
}

.card-title {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 1rem 0;
}

.price {
  font-size: 2.5rem;
  color: #673ab7;
  font-weight: bold;
  font-family: 'Urbanist'
}

.interval {
  font-size: 1rem;
  color: gray;
  margin-left: 0.2rem;
}

.features {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-align: left;
}

.features li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-family: 'Urbanist'
}

.features mat-icon {
  margin-right: 0.5rem;
}

.subscribe-button {
  width: 100%;
  margin-top: 1rem;
}
